/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* general rules */
body{
    width: 512px;
}

header{
    padding: 10px;
}

main{
    border-top: 2px black solid;
    border-bottom: 2px black solid;
}

/* cards */
div{
    border: 2px black solid;
    width: 450px;
    min-height: 150px;
    margin: 20px auto;
    padding: 20px 10px;
}